h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    text-align: center;
    
}
.row {
    justify-content: center;
    padding-block: 15px;
}
.card-text ul {
    text-align: center;
    padding-right: 10px;
}