#outer {
    height: 400px;
    width: 400px;
    border: 2.5px solid rgb(121, 239, 201);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
 #outer div {
    height: 100px;
    width: 100px;
    border: 2.5px solid black;
    border-radius: 10px;
    margin: 12px;
    flex-direction: row;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    
 }