h3 {
    color: orange;
}
div h3{
    color: black;
}
.pet {
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
img {
    height: 200px;
    width: 290px;
    border-radius: 15px;
    margin: 5px;
}
p{
    margin: 5px;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width:375px) {
   #pets {
        flex: wrap;
    }
}