* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

.main_box {
    height: 100vh;
    background: url("photo.jpg");
    background-size: cover;
}

.btn_one {
    color: rgb(160, 154, 142);
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 30px;
}

.sidebar_menu {
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100vh;
    line-height: 60px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    position: absolute;
    left: 55px;
    top: 24px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500px;
}

.sidebar_menu .btn_two {
    color: rgb(96, 93, 91);
    font-size: 20px;
    position: absolute;
    left: 275px;
    top: 39px;
    opacity: 1;
}

.sidebar_menu .menu {
    color: white;
    position: absolute;
    top: 85px;

    width: 100%;
}

.sidebar_menu li {
    margin: 10px;
    padding: 13px 10px;
}

.sidebar_menu .menu i,
a {
    color: white;
    text-decoration: none;
}

.sidebar_menu .menu i {
    padding-right: 7px;
}

.sidebar_menu .social_media {
    position: absolute;
    bottom: 50px;
    left: 25%;
    font-size: 1.1em;
}

.sidebar_menu .social_media i {
    opacity: 0.5;
    padding: 0px 5px;
}

#check {
    display: none;

}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}

.btn_one:hover {
    color: white;
    font-size: 30px;
}

.sidebar_menu .social_media i:hover {
    color: white;
    font-size: 1.1em;
    opacity: 1;
}

#check:checked~.sidebar_menu {
    left: 0
}

#check:checked~.btn_one i {
    opacity: 0;
}

#check:checked~.btn_two i {
    opacity: 1;
}