.circle {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 153, 9);
    border-radius: 50%;
}

.eye1 {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 70px;
}


.eye2 {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: 200px;
}

.smile {
    width: 160px;
    height: 50px;
    background-color: rgb(153, 56, 0);
    position: absolute;
    top: 190px;
    left: 70px;
    border-radius: 0 0 50px 50px;
}